<%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card card-body my-3 p-3">
                            <h4>
                                Change Password
                            </h4>
                            <form action="/auth/change-password" method="POST">
                                <div class="mb-3">
                                    <label for="oldPassword" class="form-label">Old Password</label>
                                    <input type="password" name="oldPassword" class="form-control" id="oldPassword">
                                </div>

                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input type="password" name="newPassword" class="form-control" id="newPassword">
                                </div>

                                <div class="mb-3">
                                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" name="confirmPassword" class="form-control"
                                        id="confirmPassword">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <%- include('../partials/footer.ejs') %>


        </body>


        </html>
