<%- include('../partials/header.ejs', {title: '404 Not Found' , flashMessage: {},}) %>
    <div class="container my-contaienr my-3">
        <center>
            <div class="display-1">
                404 Not Found
            </div>
        </center>
    </div>


    <%- include('../partials/footer.ejs') %>
        </body>

        </html>
