<%- include('../partials/header.ejs', {title: 'Internal Server Error' , flashMessage: {}}) %>
    <div class="container my-contaienr my-3">
        <center>
            <div class="display-1">
                Internal Server Error
            </div>
        </center>
    </div>


    <%- include('../partials/footer.ejs') %>
        </body>

        </html>
